@media (min-width:337px) and (max-width: 768px ) {

    .introduceMyself {
        display: flex;
        width: 100%;
        background-color: #082841;


        height: 1024px;
        flex-direction: column;
    }
    .portrImg {
        height: 384px;
        border-radius: 50%;
    }

    #divPicture {
        order: 3;
        align-self: center;
        margin-top: 39px;
    }

    #developer {
        font-size: 24px;
        color: white;
        font-family: Helvetica-Bold;
        order: 1;
        margin-top: 97px;
    }

    #name {
        font-family: Helvetica-Bold;
        font-size: 40px;
        color: #FFFFFF;
        order: 2;
        margin-top: 11px;

    }

    #developerText{
        overflow: hidden;
        font-family: Georgia;
        font-size: 20px;
        color: #FFFFFF;
        width: 464px;
        order: 4;
        text-align:  center;
        margin-top: 75px;

    }

    .flexItem {
        align-self: center;
    }

    /* --------------------------------------------------------------------------------------------------------*/

    .expectation {
        width: 100%;
        background-color: white;
        height: auto;
    }

    .expDivStrong {
        margin-top: 25px;
    }

    .expText{
        margin-top: 82px;
        font-family: Helvetica-Bold;
        font-size: 40px;
        color: #000000;

        margin-left: 32px;
    }

    .expPuzzle {

        margin-left: 32px;
        display: flex;
        margin-top: 38px;
        width: 704px;
        height: 448px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .expPuzzleItem{
        width: auto;
        background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
        border-radius: 4px;
        overflow: hidden;
    }

    #svgDivExp {
        display: none;
    }

    #expPuzzle1 {
        width: 58%;
        height: 46%;
        order: 1;
    }
    #expPuzzle2 {

        width: 40%;
        height: 46%;
        order: 2;
    }
    #expPuzzle3 {

        width: 40%;
        height: 46%;
        order: 3;
    }
    #expPuzzle4 {

        width: 58%;
        height: 46%;
        order: 4;

    }

    .expTextStrong {

        font-family: Helvetica-Bold;
        font-size: 24px;
        color: #000000;
        margin-left: 32px;
    }

    .expTextP {
        margin-left: 32px ;
        margin-top: 64px;
        overflow: hidden;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;


    }

    #expPuzzle1 .expTextP {
        width: 328px ;
    }
    #expPuzzle2 .expTextP {
        width: 248px ;
    }
    #expPuzzle3 .expTextP {
        width: 248px ;
    }
    #expPuzzle4 .expTextP {
        width: 328px ;
    }

    /*------------------------------------------------------------------------------------------------*/

    .projText{
        margin-top: 129px;
        margin-left: 32px;
        font-family: Helvetica-Bold;
        font-size: 40px;
        color: #000000;
    }

    .prjItems1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        /*height: 700px;*/
    }

    .prjItem {
        width: auto;
    }

    #prjItem1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 3;
    }

    /*     ----------------------- */
    #picturePrjItem1 {
        margin-top: 0;
        margin-left: 32px;
        width: 704px;
        height: 496px;
        background-image: url(img/1.jpg);
    }

    #svgPrjItem1 {
        margin-left: 348px;
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #svg1 {
        height: 30px;
        width: 30px;
    }

    #svg2 {

        height: 30px;
        width: 30px;
    }

    #svg3 {
        height: 30px;
        width: 30px;
    }

    #prjItem2 {
        margin-left: 32px;
        margin-top: 69px;
        order: 1;
        width: 304px;

    }

    #prjItem2 strong {
        font-family: Helvetica-Bold;
        font-size: 24px;
        color: #000000;
    }

    #prjItem2 p {

        font-family: Georgia;
        font-size: 16px;
        color: #DD3E18;
    }

    #prjItem3 {
        width: 384px;
        height: 147px;
        margin-left: 16px;
        margin-top: 64px;
        opacity: 0.8;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        order: 2;
    }

    .prjItems2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 97px;
    }

    #prjItem12 {
        order: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /*-----------------------------------------------*/

    #picturePrjItem12 {
        margin-top: 0;
        margin-left: 32px;
        width: 704px;
        height: 496px;
        background-image: url(img/2.jpg);
    }

    #svgPrjItem12 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 332px;
        margin-top: 24px;
    }

    #svg4 {
        height: 30px;
        width: 30px;
    }


    /*-----------------------------------------------*/



    #prjItem22 {
        margin-left: 32px;
        order: 1;
        width: 304px;

    }

    #prjItem22 strong {
        font-family: Helvetica-Bold;
        font-size: 24px;
        color: #000000;
    }

    #prjItem22 p {

        font-family: Georgia;
        font-size: 16px;
        color: #DD3E18;
    }

    #prjItem32 {
        width: 384px;
        height: 147px;
        margin-left: 16px;
        opacity: 0.8;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        order: 2;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    .contactsMain {
        margin-top: 80px;
        width: 100%;
        height: 819px;
        background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
        padding-top: 33px;;
    }

    .contactsMainDiv {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*justify-content: space-around;*/

    }

    .contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*justify-content: space-around;*/
    }

    #linksP {
        display: none;
    }

    #contactsItem1 {

        margin-left: 32px;
        font-family: Helvetica-Bold;
        font-size: 40px;
        color: #000000;
    }

    #contactsItem2 {
        margin-left: 32px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        width: 384px;
    }

    #contactsItem3 {
        margin-top: 15px;
        width: 200px;
        margin-left: 60px;
        font-family: Georgia;
        font-size: 16px;
        color: #DD3E18;
        line-height: 32px;
    }

    #contactsItem4 {
        margin-top: 19px;
        margin-left: 32px;
    }

    #svgText {
        font-family: Helvetica-Bold;
        font-size: 16px;
        color: #DD3E18;
        line-height: 24px;

    }

    #sendButton {

        background: #DD3E18;
        border-radius: 4px;
        font-family: Helvetica-Bold;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        width: 704px;
        height: 49px;
        margin-top: 32px;

    }

    input[name=name] {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        width: 704px;
        height: 48px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
    }

    input[name=mail] {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        width: 704px;
        height: 48px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
    }

    textarea[name=mess] {
        background: white;
        border-radius: 4px;
        width: 704px;
        height: 192px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;

    }

    .divRect {
        display: inline-block;
        height: 20px;
        width: 20px;
        opacity: 0.1;
        background-color: #000000;
        border-radius: 2px;
        margin-right: 12px;
    }
}